<%- include("partials/header.ejs") %>

<div class="container">
    <div class="row form-group mb-3">
        <form class="form-inline my-2 my-lg-0" action="/results" method="GET">
            <input name="search" class="form-control mr-sm-2" type="text" placeholder="Search for Beer Here!" aria-label="Search">
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit">
        </form> 
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div id="beerOne" class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <img src="<%= beerImage %>" class="beerImage" alt="Beer Image" height="100" width="42">
                    <p class="card-title"><strong><%= beerName%></strong></p>
                    <p class="card-text"><%= beerDescription%></p>
                    <a href="#" class="btn btn-primary">Save Beer</a>
                </div>
            </div>
        </div>
   <div class="col-lg-4">
    <div id="beerTwo" class="card mb-3" style="width: 18rem;">
        <div class="card-body">
            <img src="<%= beerImage %>" class="beerImage" alt="Beer Image" height="100" width="42">
            <p class="card-title"><strong><%= beerName%></strong></p>
            <p class="card-text"><%= beerDescription%></p>
            <a href="#" class="btn btn-primary">Save Beer</a>
        </div>
    </div>
</div>
    <div class="col-lg-4">
        <div id="beerThree" class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <img src="<%= beerImage %>" class="beerImage" alt="Beer Image" height="100" width="42">
                <p class="card-title"><strong><%= beerName%></strong></p>
                <p class="card-text"><%= beerDescription%></p>
                <a href="#" class="btn btn-primary">Save Beer</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
<div class="col-lg-4">
    <div id="beerFour" class="card mb-3" style="width: 18rem;">
        <div class="card-body">
            <img src="<%= beerImage %>" alt="Beer Image" height="100" width="42">
            <p class="card-title"><strong><%= beerName%></strong></p>
            <p class="card-text"><%= beerDescription%></p>
            <a href="#" class="btn btn-primary">Save Beer</a>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div id="beerFive" class="card mb-3" style="width: 18rem;">
        <div class="card-body">
            <img src="<%= beerImage %>" alt="Beer Image" height="100" width="42">
            <p class="card-title"><strong><%= beerName%></strong></p>
            <p class="card-text"><%= beerDescription%></p>
            <a href="#" class="btn btn-primary">Save Beer</a>
        </div>
    </div>
</div>
    <div class="col-lg-4">
        <div id="beerSix" class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <img src="<%= beerImage %>" alt="Beer Image" height="100" width="42">
                <p class="card-title"><strong><%= beerName%></strong></p>
                <p class="card-text"><%= beerDescription%></p>
                <a href="#" class="btn btn-primary">Save Beer</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        <div id="beerSeven" class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <img src="<%= beerImage %>" alt="Beer Image" height="100" width="42">
                <p class="card-title"><strong><%= beerName%></strong></p>
                <p class="card-text"><%= beerDescription%></p>
                <a href="#" class="btn btn-primary">Save Beer</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="beerEight" class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <img src="<%= beerImage %>" alt="Beer Image" height="100" width="42">
                <p class="card-title"><strong><%= beerName%></strong></p>
                <p class="card-text"><%= beerDescription%></p>
                <a href="#" class="btn btn-primary">Save Beer</a>
            </div>
        </div>
    </div>
        <div class="col-lg-4">
            <div id="beerNine" class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                    <img src="<%= beerImage %>" alt="Beer Image" height="100" width="42">
                    <p class="card-title"><strong><%= beerName%></strong></p>
                    <p class="card-text"><%= beerDescription%></p>
                    <a href="#" class="btn btn-primary">Save Beer</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<%- include("partials/footer.ejs") %>


<%- include("partials/footer.ejs") %>